<div *ngIf="remaining">
  <span class="remaining-part">
    <span class="value">{{remaining.years}}</span>
    <span class="label">{{remaining.years == 1 ? 'year' : 'years'}}</span>
  </span>
  <span class="remaining-part">
    <span class="value">{{remaining.months}}</span>
    <span class="label">{{remaining.months == 1 ? 'month' : 'months'}}</span>
  </span>
  <span class="remaining-part">
    <span class="value">{{remaining.days}}</span>
    <span class="label">{{remaining.days == 1 ? 'day' : 'days'}}</span>
  </span>
  <span class="remaining-part">
    <span class="value">{{remaining.hours}}</span>
    <span class="label">{{remaining.hours == 1 ? 'hour' : 'hours'}}</span>
  </span>
  <span class="remaining-part">
    <span class="value">{{remaining.minutes}}</span>
    <span class="label">{{remaining.minutes == 1 ? 'minute' : 'minutes'}}</span>
  </span>
  <span class="remaining-part">
    <span class="value">{{remaining.seconds}}</span>
    <span class="label">{{remaining.seconds == 1 ? 'second' : 'seconds'}}</span>
  </span>
</div>